body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiCardHeader-root{
  background-color: #d81b60;
  color: white;
}

li.MuiCardHeader-root  {
  background-color: #3f51b5;
  color: white;
}

.MuiCardHeader-avatar .MuiAvatar-circle{
  color: #949494;
  background-color: #ffffff;
}